{% extends "base.html" %}
<!--{ % include "header.html" %} -->

{% block title %}The Coffee Connect | Home{% endblock %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url({{ url_for('static', filename='assets/img/slide/slide-1.jpg') }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to the <span>Coffee Connect!</span></h2>
              <p class="animate__animated animate__fadeInUp">Looking for a cafe in London? Check out our list and find the perfect one for you!</p>
              <a href="/#shops" class="btn-get-started animate__animated animate__fadeInUp scrollto">See Cafes</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url({{ url_for('static', filename='assets/img/slide/slide-2.jpg') }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Know of any awesome cafes in London?</h2>
              <p class="animate__animated animate__fadeInUp">If it's not on our list, feel free to add it!</p>
              <a href="{{ url_for('add_cafe') }}" class="btn-get-started animate__animated animate__fadeInUp scrollto">Add Cafe</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url({{ url_for('static', filename='assets/img/slide/slide-3.jpg') }})">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Help us!</h2>
              <p class="animate__animated animate__fadeInUp">Know of any new changes made by a cafe on our list? Hover over that cafe and use the edit button to make the changes yourself!</p>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>We ❤ Coffee</h2>
            <h3>Check out the wide variety of coffee shops you can visit in different parts of London!</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Looking for an ideal hangout or work spot in London? You've come to the right place!
              Displayed below this section is a list of coffee spots compiled by other coffee enthusiasts!
              All you have to do is select a location, hover your mouse over a specific spot, and you'll get quick
              details on price, seating, Wi-Fi, sockets, bathrooms, and phone availability. The exact location and
              contact information can be found in a Google Maps link that is also provided.<br><br>
              In addition to the above, you can also do the following:
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Add a new cafe to our list! </li>
              <li><i class="ri-check-double-line"></i> Edit the details of a specific cafe on our list! </li>
              <li><i class="ri-check-double-line"></i> Delete a cafe... be careful and be 100% sure you want to do it before you click though!</li>
            </ul>
<!--            <p class="fst-italic">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--              magna aliqua.-->
<!--            </p>-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Clients Section ======= -->
<!--    <section id="clients" class="clients section-bg">-->
<!--      <div class="container">-->

<!--        <div class="row">-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="{{ url_for('static', filename='assets/img/clients/client-1.png') }}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="{{ url_for('static', filename='assets/img/clients/client-2.png') }}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="{{ url_for('static', filename='assets/img/clients/client-3.png') }}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="{{ url_for('static', filename='assets/img/clients/client-4.png') }}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="{{ url_for('static', filename='assets/img/clients/client-5.png') }}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">-->
<!--            <img src="{{ url_for('static', filename='assets/img/clients/client-6.png') }}" class="img-fluid" alt="">-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Clients Section &ndash;&gt;-->

    <!-- ======= Services Section ======= -->
<!--    <section id="services" class="services">-->
<!--      <div class="container">-->

<!--        <div class="row">-->
<!--          <div class="col-md-6">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-briefcase"></i>-->
<!--              <h4><a href="#">Lorem Ipsum</a></h4>-->
<!--              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-card-checklist"></i>-->
<!--              <h4><a href="#">Dolor Sitema</a></h4>-->
<!--              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-bar-chart"></i>-->
<!--              <h4><a href="#">Sed ut perspiciatis</a></h4>-->
<!--              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-binoculars"></i>-->
<!--              <h4><a href="#">Nemo Enim</a></h4>-->
<!--              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-brightness-high"></i>-->
<!--              <h4><a href="#">Magni Dolore</a></h4>-->
<!--              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 mt-4 mt-md-0">-->
<!--            <div class="icon-box">-->
<!--              <i class="bi bi-calendar4-week"></i>-->
<!--              <h4><a href="#">Eiusmod Tempor</a></h4>-->
<!--              <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Services Section &ndash;&gt;-->

    <!-- ======= Portfolio Section ======= -->
    <section id="shops" class="portfolio">
      <div class="container">

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for location in all_locations %}
<!--              <li data-filter=".filter-app">App</li>-->
<!--              <li data-filter=".filter-card">Card</li>-->
<!--              <li data-filter=".filter-web">Web</li>-->
              <li data-filter=".filter-{{location.replace(' ', '-')}}"> {{location}} </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">
          {% for cafe in all_cafes %}
          <div class="col-lg-4 col-md-6 portfolio-item filter-{{cafe.location.replace(' ', '-')}}">
            <div class="portfolio-wrap">
              <img src="{{cafe.img_url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{cafe.name}}</h4>
                <div class="cafe-info">
                  <p class="cafe-text">{{cafe.location}}</p>
                  <p class="cafe-text">Coffee Price: {{cafe.coffee_price}}</p>
                  <p class="cafe-text">Seats: {{cafe.seats}}</p>
                  <p class="cafe-text">Sockets: {% if cafe.has_sockets %}✓ {% else %}✘ {% endif %}
                     | Toilets: {% if cafe.has_toilet %} ✓ {% else %}✘ {% endif %}
                     | Wi-Fi: {% if cafe.has_wifi %} ✓ {% else %}✘ {% endif %}
                     | Takes Calls: {% if cafe.can_take_calls %} ✓ {% else %}✘ {% endif %}
                  </p>
                </div>
                <div class="portfolio-links">
                  <a href="{{url_for('edit_cafe', cafe_id=cafe.id)}}" title="Edit Details"><i class="far fa-edit cafe-icon"></i></a>
                  <a href="{{url_for('delete_cafe', cafe_id=cafe.id)}}"  title="Delete Cafe"> <i class="fas fa-trash cafe-icon"></i></a>
                  <a href="{{cafe.map_url}}" title="Google Maps Link", target="_blank", rel="noreferrer", rel="noopener"> <i class="fas fa-map-marker-alt cafe-icon"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 3</h4>-->
<!--                <p>Web</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-2.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 2</h4>-->
<!--                <p>App</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-3.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 2</h4>-->
<!--                <p>Card</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-4.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 2</h4>-->
<!--                <p>Web</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-5.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 3</h4>-->
<!--                <p>App</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-6.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 1</h4>-->
<!--                <p>Card</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-7.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Card 3</h4>-->
<!--                <p>Card</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-8.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--            <div class="portfolio-wrap">-->
<!--              <img src="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Web 3</h4>-->
<!--                <p>Web</p>-->
<!--                <div class="portfolio-links">-->
<!--                  <a href="{{ url_for('static', filename='assets/img/portfolio/portfolio-9.jpg') }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>-->
<!--                  <a href="portfolio-details.html" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

        </div>

      </div>
    </section><!-- End Portfolio Section -->

  </main><!-- End #main -->

{% include "footer.html" %}
{% endblock %}